body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* ----------   HEADER   ---------- */

.header {
    display: flex;
    height: 120px;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #961B1B;
    color: #FFFFFF;
    align-items: center;
    justify-content: flex-end;
}

.header h1{
    margin-right: auto;
}

.header i{
    margin-left: 20px;
} 
.navbar {
    display: flex;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #591212;
}

.navbar a{
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 20px;
}

.navbar a:hover {
    font-size: 105%;
}

/* ----------   HEADER   ---------- */


.container{
    display: flex;
    justify-content: center;
}

.contenido{
    margin: 10px;
    display: flex;
    width: 1170px;
    height: 700px;
}

.tabla{
    
    width: 24.9%;
    padding-top: 80px;
    padding-left: 31px;
}

#tablaAsientos td{
    cursor: pointer;
    text-align: center;    
}

.formulario{
    padding-left: 50px;
    padding-top: 50px;
    width: 51%;
}

.fechas{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.horas{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.fechas div{
    padding-left: 10px;
    padding-right: 10px;
    border-style:solid;
    border-radius: 6px;
    cursor: pointer;
}

.horas div{
    padding-left: 13px;
    padding-right: 13px;
    border-style:solid;
    border-radius: 6px;
    cursor: pointer;
}

.fechaActiva{
    border-color: red;
}

.horaActiva{
    border-color: red;
}

.peliculaImagen{
    width: 200px;
}

.asientoActivo{
    color: green;
}

/* ----------   FOOTER   ---------- */

.footer{
    display: flex;
    height: 120px;
    margin-top: 80px;
    background-color: #961B1B;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer i{
    margin-left: 10px;
}
.social li{
    display: inline-block;
}
.social a{
    text-decoration: none;
}

.logo{
    display: flex;
}
.logo div{
   justify-content: flex-end; 
   align-self: center;
}

/* ----------   FOOTER   ---------- */